<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <!-- Punch Through styling -->
  <link rel="stylesheet" href="{{relativeRoot}}_assets/vendor/punchthrough/homepage.css" data-pt-ignore>
  <!-- Syntax highlighting -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/tomorrow-night.min.css">
  <!-- Docs styling -->
  <link rel="stylesheet" href="{{relativeRoot}}_assets/styles/base.css">
  <link rel="stylesheet" href="{{relativeRoot}}_assets/styles/standalone.css" data-pt-ignore>
</head>
<body>
  <div class="container-fluid lc-white">
    <div class="row">
      <div class="col-xs-4">
        <div class="site-index">
          {{> site_index}}
        </div>
      </div>
      <div class="col-xs-8">
        <h1 class="title">{{ title }}</h1>
        <div class="toc">
          {{> toc}}
        </div>
        {{{contents}}}
      </div>
    </div>
  </div>
  <!-- Syntax highlighting -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
  <script>
    var pre = document.getElementsByTagName('pre')
    var pl = pre.length
    for (var i = 0; i < pl; i++) {
      pre[i].innerHTML = '<span class="line-number"></span>' + pre[i].innerHTML
      var num = pre[i].innerHTML.split(/\n/).length
      for (var j = 1; j < num; j++) {
        var line_num = pre[i].getElementsByTagName('span')[0]
        line_num.innerHTML += '<span>' + j + '</span>'
      }
    }
    hljs.initHighlighting()
  </script>
</body>
</html>
