<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
  <div class="guides">
    <ul>
      {{#each collections}}
        <li><strong>{{name}}</strong></li>
        <ul>
          {{#each pages}}
            <li><a href="/{{path}}">{{title}}</a></li>
          {{/each}}
        </ul>
      {{/each}}
    </ul>
  </div>
  <div class="toc">
    {{> toc}}
  </div>
  <h1>{{ title }}</h1>
  {{{ contents }}}
</body>
</html>
